<h1><%= @post.title %></h1>
<p>
	<%= @post.text %>
</p>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
	<p><%= comment.text %></p>
	<p><em><%= time_ago_in_words comment.created_at %> ago</em></p>
	<p><%= link_to "Delete", [@post, comment], :method => :delete, :confirm => "Are You Sure?" %> </p>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
	<p><%= f.text_area :text, :size => '40x10'  %></p>
	<p><%= f.submit "Submit Comment" %> </p>
<% end %>
<div>
	<%= link_to "Back", posts_path %>

	<%= link_to "Edit", edit_post_path(@post) %>

	<%= link_to "Delete", @post, :method => :delete, :confirm => "Are you sure?" %>
</div>