<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=yes" />
	<title>Mark and Will Make A Band</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="global-wrapper">
		<header>
			<h1>Mark And Will</h1>
		</header>
		<section id="featured" class="cf">
			<%= render 'layouts/featured' %>
		</section>
		<nav class="js_sticky">
			<ul>
				<li class="navlink"><a href="#blog" class="anchorLink ">Blog</a></li>
			</ul>
		</nav>
		<section id="blog">
			<div class="content">
				<%= yield %>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="/assets/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/assets/jquery.anchor.js"></script>
</body>
</html>
