<!DOCTYPE html>
<html>
<head>
  <title>Mark and Will Make A Band</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<section id="welcome">
			<header>
				<h1>Mark And Will</h1>
			</header>
			<section id="featured">
				<%= render 'subscribers/new' %>
			</section>
			<nav class="js_sticky">
				<ul>
					<li class="navlink"><a href="#blog" class="anchorLink ">Blog</a></li>
				</ul>
			</nav>
		</div>
		<div name="blog" id="blog">
			<div class="content">
				<%= yield %>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/assets/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="/assets/jquery.anchor.js"></script>
</body>
</html>
